@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-image: linear-gradient(to bottom right, #141e30, #243b55);
    font-family: Roboto, Helvetica;
    font-size: 13px;
}

ul {
    display: inline-block;
    text-align: justify;
    background-image: linear-gradient(to bottom right, #141E30, #243b55);
    border-radius: 5%;
    max-width: 75%;
}

li {
    padding: 1.5vh;
}

footer {
    text-align: center;
    color: #E5E5E5;
    font-size: 1.25em;
}

#title {
    text-align: center;
    padding: 1vw;
    font-size: 1em;
}

#main {
    background-color: #CCA43b;
    color: #E5E5E5;
    border-style: solid;
    border-color: #06090E;
    border-width: .05vw;
    border-radius: %;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .25);
    max-width: 90%;
    margin: auto;
}

#img-div {
    background-color: #141E30;
    max-width: 70%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

#image {
    max-width: 80%;
    align-self: center;
    border-radius: 5%;
    padding: 5%;
}

#img-caption {
    text-align: center;
    font-weight: bold;
    font-size: .75em;
}

#tribute-info {
    text-align: center;
    font-size: .65em;
}

#divider1 {
    max-width: 50vw;
}

#divider2 {
    border: .75px dotted;
    width: 20%;
}

#tribute-link {
    color: #CCA43B;
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 28px;

    }

    #img-div {
        max-width: 40%;
    }

    @media (min-width: 1200px) {
        body {
            font-size: 32;
        }

        #img-div {
            max-width: 30%;
        }
